# Objectives:
Review core `pandas` objects: `pandas.Series`, `pandas.DataFrame`
#`pandas`
- Python pakcage to wrangle and analyze tabular data
- built on top of numpy
-core tool for data analysis in Python

In [2]:
#import pandas and numpy with standard abbreviation
import pandas as pd
import numpy as np

# Series:
A `pandas.Series`:
- is one of the core data structures in `pandas`
- a one dimensional array of *indexed* data 
- will be the columns of the `pandas.DataFrame`

# Making a pandas Series

Several ways of making a pandas Series. 
For now, we will make series using:
```

s = pd.Series(data, index = index)


```
-`data`= numpy array for a list of object that can be converted to Numpy types:
-`index`= a list of indices the same height as data

In [3]:
# ex: a pandas series from a numpy array

#np.arange() function constructs an array of consecutive integers
np.arange(3)

array([0, 1, 2])

In [4]:
pd.Series(np.arange(3), index =['a','b','c'])

a    0
b    1
c    2
dtype: int64

What kind of parameter is `index`?
- A: an optional parameter, there is a default vaulue to it
- If we don't specify `index`, the default is to start theh index from 0 
ex:

In [ ]:
#Making a series from a list of strings with default index
pd.Series(['EDS220'],)

# Operations of series
Arithmetic operations work on series can also meet NumPy funcitons.
- example:

In [6]:
#define a seriese
s = pd.Series([98 , 73, 65], index = ['Andrea','Beth','Carolina'])
print(s, '\n')
#divide each element in the series by ten
print(s/10)

Andrea      98
Beth        73
Carolina    65
dtype: int64

Andrea      9.8
Beth        7.3
Carolina    6.5
dtype: float64

Example: Make a new Series with `True`/`False` values indicating whether the elements satisfy a condition or not.

In [7]:
s > 70

Andrea       True
Beth         True
Carolina    False
dtype: bool

This is simple --but important!: Using conditions on Series is key to select data from dataframes.

## Attributes and methods

Two examples about identifying missing values.
- missing values in `pandas ` are represented by `np.Nan` = not a number
- `NaN' is a type of float in numpy

In [10]:
np.NaN
type(np.NaN)

float

In [12]:
#series with NaNs in it:
s= pd.Series([1,2, np.NaN, 4, np.NaN])
s

0    1.0
1    2.0
2    NaN
3    4.0
4    NaN
dtype: float64

`hasnans`= attribute of pandas series, returns `True` if there are any NAs:

In [13]:
s.hasnans

True

`isna()`= a method of series, returns a series indicating which elements are NAs

In [14]:
s.isna()

0    False
1    False
2     True
3    False
4     True
dtype: bool

`bool`: `True` or `False` are **boolean values**
# Dataframes
`pandas.DataFrame`:

- most used object in `pandas`
- represents tabular data (spreadsheet)
- eaeech column is a `pandas.Series`

# Making a `pandas.DataFrame`
*Many ways of making a dataframe. Let's see one

Remember dictionaries? They are sets of key-value pairs:

```
{ key1: value1,
    key2: value2
}
```

Think of a `pd.DataFrame` as a dictionary where:
- keys = column names
- values = column values 

We can make a dataframe like this:

In [15]:
#making dictionary with columns' data
d = {'col_name1' : np.arange(3),
    'col_name3': [3.1,3.2,3.3]}
d

{'col_name1': array([0, 1, 2]), 'col_name3': [3.1, 3.2, 3.3]}

In [17]:
df = pd.DataFrame(d)
df

   col_name1  col_name3
0          0        3.1
1          1        3.2
2          2        3.3

# In place operations
Let's renamme the data frame's columns.
We can use a dataframe *method* called `rename`.
`rename` takes in as an input a dictionary:

```
{'col1_old_name' : 'col1_new_name',
'col2_old_name' : `col2_new_name`
}
```

In [24]:
#define new column names
col_names = {'col_name_1' : 'col1',
             'col_name_2' : 'col2',
             }

# rename using rename
df.rename(columns = col_names)

   col_name1  col_name3
0          0        3.1
1          1        3.2
2          2        3.3

Nothing changed:
`df.rename()`: doesn't change the column names *in place*, meaning it doesn't modify the object itself. Instead it makes a new object as an output.

Assign output back to dataframe to change it.

In [25]:
df = df.rename(columns = col_names)
df

   col_name1  col_name3
0          0        3.1
1          1        3.2
2          2        3.3